/* Page Content */
.contact{
    /* Display */
    display: flex;

    /* Dimenssions */
    margin: 5% 0 5% 0;
    gap: 10px;

}

/* Contact Info */
.address{

    /* Dimenssions */
    width: 50%;
    margin-right: auto;
    padding-left: 1%;

    /* Border */
    border-right: 5px solid rgba(0, 0, 0, 0.149);

}

/* Each Contact Info */
.location,
.email,
.phone{

    /* Display */
    display: flex;

    /* Dimenssions */
    gap: 10px;

}

/* Each Contact Info Details */
.details{

    /* Display */
    display: inline-block;

    /* Dimenssions */
    margin-bottom: 5%;

}

/* Each Contact Info Details Logo */
.address img{

    /* Dimenssions */
    width: 7%;
    height: 7%;

    /* Border */
    border-radius: 50%;

}

/* Each Contact Info Details Link */
.address a{

    /* Dimenssions */
    margin: -3% 0;

    /* Text */
    text-decoration: none;
    color: black;

}

/* Each Contact Info Details Link Hover */
.address a:hover{
    color: brown;
}
.address h3{
    margin: 10% 0 4%;
}
.address h4{
    margin: 3% 0;
}

/* Contact Form */
.form{

    /* Dimenssions */
    width: 50%;
    padding-left: 1%;
    margin-left: 1%;

}

/* Every input Field in form */
textarea,
input,
.b,
label{

    /* Dimenssions */
    width: 50%;
    margin: 0.5% 5%;

    /* Text */
    font-size: x-large;

}
textarea{
    height: 100px;
}
input,
.b{
    padding: 0.5%;
    margin-bottom: 2%;
}

