header{
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: xx-large;
    color: antiquewhite;
    margin: 5% 0 0 -1%;
}

.images{
    margin: 5% 0;
    display: flex;
    
}
.images img{
    margin: 1%;
    width: 33%;
    height: 25rem;
    border: 2px solid black;
    border-radius: 2%;
}

.buttons{
    margin: 5%;
    text-align: center;
}
.buttons button{
    font-size: x-large;
    min-width: fit-content;
    width: 25%;
    padding: 1%;
    margin: 2%;
    background-color: brown;
    color: white;
}
.buttons a{
    color: white;
}